html, body {
    margin: 0;
    padding: 0;
}
body {
    background: black;
    position: relative;
    margin: 0 auto;
    width: 672px;
    height: 504px;
}
#player-container{
    display: block;
}

video{
    width: 100%;
    height: 100%;
}